@model List<TemtemWebApp.Models.TemtemSimpleViewModel>

@{
    ViewBag.Title = "Temtem";
}
<div class="container-lg">
    <h2 id="header">List of All Temtems</h2>
</div>

<div class="container-lg mainDiv" id="filtersDiv">
    <div class="form-row">
        <div class="col-sm-9" id="searchDiv">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input class="form-control" type="text" id="temSearch" placeholder="Enter temtem name or number..." />
            </div>
        </div>
        <div class="col-sm-3" id="selectDiv">
            <div class="input-group mb-3">
                <select class="custom-select" id="chooseType">
                    <option selected disabled hidden>Choose type...</option>
                    <option value="All">All</option>
                    <option value="Crystal">Crystal</option>
                    <option value="Digital">Digital</option>
                    <option value="Earth">Earth</option>
                    <option value="Electric">Electric</option>
                    <option value="Fire">Fire</option>
                    <option value="Melee">Melee</option>
                    <option value="Mental">Mental</option>
                    <option value="Nature">Nature</option>
                    <option value="Neutral">Neutral</option>
                    <option value="Toxic">Toxic</option>
                    <option value="Water">Water</option>
                    <option value="Wind">Wind</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="container-lg mainDiv">
    <h3 id="notFound"></h3>
    <div id="temList">
        @foreach (var temtem in Model)
        {
            <form action="ViewTemtemDetails" method="post" class="temDiv">
                <input type="hidden" name="id" value="@temtem.ID" />
                <h6 class="temNumber">@temtem.Number</h6>
                <img src="@temtem.Image" class="temImage">
                <div class="typeDiv">
                    @if (temtem.TypeName2 == "None")
                    {
                        <img src="@temtem.TypeIcon1" id="type1Icon" class="typeIcon">
                    }
                    else
                    {
                        <img src="@temtem.TypeIcon1" class="typeIcon">
                        <img src="@temtem.TypeIcon2" id="type2Icon" class="typeIcon">
                    }
                </div>
                <input type="hidden" class="type1Name" value="@temtem.TypeName1" />
                <input type="hidden" class="type2Name" value="@temtem.TypeName2" />
                <h6 class="temName">@temtem.Name</h6>
            </form>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        function contains(textOne, textTwo) {
            if (textOne.indexOf(textTwo) != -1)
                return true;
        }

        $("#temSearch").keyup(function () {
            var searchText = $("#temSearch").val().toLowerCase();
            var temsList = $('.temDiv');
            var found = false;
            temsList.each(function (i, tem) {
                var $tem = $(tem);
                var name = $tem.find('.temName').first();
                var number = $tem.find('.temNumber').first();
                name = name.text().toLowerCase();
                number = number.text().toLowerCase();
                if (contains(name, searchText) || contains(number, searchText)) {
                    $tem.show();
                    found = true;
                }
                else {
                    $tem.hide();
                }
            })
            if (!found) {
                $("#notFound").text('Not found temtem with "' + searchText + '" in name');
            }
            else {
                $("#notFound").text('');
            }
        })

        $("#chooseType").on('change', function () {
            $("#notFound").text('');
            var searchType = $("#chooseType").val().toLowerCase();
            var temsList = $('.temDiv');
            temsList.each(function (i, tem) {
                var $tem = $(tem);
                var name1 = $tem.find('.type1Name').first();
                var name2 = $tem.find('.type2Name').first();
                name1 = name1.val().toLowerCase();
                name2 = name2.val().toLowerCase();
                if (searchType == 'all') {
                    $tem.show();
                }
                else if (contains(name1, searchType) || contains(name2, searchType)) {
                    $tem.show();
                }
                else {
                    $tem.hide();
                }
            })
        })
    })
</script>
<script>
    $(document).ready(function () {
        $(".temDiv").mouseenter(function () {
            if ($(this).find('.temImage').width() > 75) {
                $(this).find('.temImage').css('width', '90px');
                $(this).find('.temImage').css('height', '90px');
            } else {
                $(this).find('.temImage').css('width', '73px');
                $(this).find('.temImage').css('height', '73px');
            }
            $(this).css('background-color', '#a9f5ee');

        });
        $(".temDiv").mouseleave(function () {
            $(this).find('.temImage').css('width', '');
            $(this).find('.temImage').css('height', '');
            $(this).css('background-color', '');
        });
        $(".temDiv").click(function () {
            $(this).submit();
        });
    });
</script>
<style>
    .temDiv {
        height: 160px;
        width: 11.11%;
        padding-top: 10px;
        background-color: #64e8dd;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        cursor: pointer;
    }

    @@media (max-width: 1200px) {
        .temDiv {
            width: 12.5%;
        }
    }

    @@media (max-width: 1000px) {
        .temDiv {
            height: 130px;
        }
    }

    @@media (max-width: 800px) {
        .temDiv {
            width: 14.25%;
        }
    }

    @@media (max-width: 800px) {
        .temDiv {
            width: 16.6%;
        }
    }

    @@media (max-width: 600px) {
        .temDiv {
            width: 20%;
        }
    }

    @@media (max-width: 400px) {
        .temDiv {
            width: 25%;
        }
    }

    #temList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .typeIcon {
        width: 24px;
        height: 24px;
    }

    #type2Icon {
        margin-left: -8px;
    }

    #type1Icon {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .typeDiv {
        align-items: center;
        z-index: 2;
        width: 48px;
        margin-top: -20px;
        margin-bottom: 0;
        border: 2px solid transparent;
        border-radius: 60px;
        border-color: #00a39b;
        background-color: #2ec7b9;
    }

    .temImage {
        width: 80px;
        height: 80px;
        border: 2px solid transparent;
        border-radius: 50px;
        border-color: #00a39b;
        background-color: #2ec7b9;
        position: relative;
        z-index: 1;
        margin-top: -10px;
    }

    @@media (max-width: 1000px) {
        .temImage {
            width: 62px;
            height: 62px;
            border: 2px solid transparent;
            border-color: #00a39b;
        }
    }


    .temName {
        font-weight: bold;
        margin-top: -2px;
    }

    .temNumber {
        color: #00a39b;
    }

    #temSearch {
        margin-top: 16px;
        margin-bottom: 0px;
        margin-left: 20px;
        background-color: #a9f5ee;
        border-color: #00a39b;
    }

    #chooseType {
        margin-top: 16px;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #a9f5ee;
        border-color: #00a39b;
    }

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #00a39b;
        margin-left: 20px;
    }

    .mainDiv {
        overflow: hidden;
        border: 1px solid #00a39b;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 4px;
        background-color: #64e8dd;
        padding: 0;
    }

    #filtersDiv {
        margin-top: 20px;
    }

    #logoIcon {
        margin: 20px;
    }

    #header {
        margin-top: 20px;
        color: #383838;
        font-weight: bold;
    }

    @@media (max-width: 575px) {
        #searchDiv {
            margin-right: 40px;
        }
    }

    #notFound {
        margin: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
</style>

